<!-- Site preloader -->
    <section id="preloader">
        <div class="site-spinner"></div>
    </section>
    <!-- End Site preloader -->

    <!-- Overlay Menu --------------------------------------------------->
    <div class="overlay-menu">
        <!-- Overlay Menu Close Icon -->
        <a class="overlay-menu-close">
            <span></span>
        </a>
        <!-- End Overlay Menu Close Icon -->

        <!-- Overlay Menu Nav -->
        <div class="overlay-menu-inner">
            <nav class="">
                <ul class="overlay-menu-nav">
                <li>
                   <li><%= link_to "Home", root_path %></li>
                  
                </li>
                 <li>
                   <li><%= link_to "I'm new", im_new_path %></li>
                  
                </li>
                <li>
                   <li><%= link_to "Get to know us", know_us_path %></li>
                  </li>
                
                <li>
                   <li><%= link_to "What we do", what_we_do_path %></li>
                  </li>
                  <li>
                   <li><%= link_to "Resources", resources_path %></li>
                  </li>
                    
                 <li>
                   <li><%= link_to "Contribute", contribute_path %></li>
                  </li>
                

                 <li>
                   <li><%= link_to "Contact", contact_path %></li>
                  
                </ul>
            </nav>
        </div>
        <!-- End Overlay Menu Nav -->
    </div>
    <!-- End Overlay Menu -->
    <div id="page-wraper">

        <!-- Header -->
        <header id="header" class="header">
            <div class="container header-inner">

                <!-- Logo -->
                <div class="logo">
                    <a href="/">
                        <img class="logo-light" src="assets/grace_offical/grace_logo.png" alt="Apollo" />
                        <img class="logo-dark" src="assets/grace_offical/grace_logo.png" alt="Apollo" />
                    </a>
                </div>
                <!-- End Logo -->

                <!-- Overlay menu btn Icon -->
                <div class="overlay-menu-btn nav-bar-icon">
                    <span></span>
                </div>
                <!-- Overlay menu btn Icon -->


            </div>
        </header>
</header>

        <!-- End Header -->
